name: CI - jo-scraping

on:
  pull_request:
    branches:
      - develop

jobs:
  lint_and_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Run ESLint for code quality check
        run: npx eslint . --max-warnings=0
        # . = dossier courant
        # --max-warnings=0 = échouer si des warnings sont détectés

      - name: Run Prettier for formatting check (optional)
        run: npx prettier --check .

      - name: Run the application
        run: npm run start
